<style>
    .place-name {
        font-size: larger;
        font-weight: bolder;
        margin-top: 5px;
    }
    
    .list-item {
        min-height: 75px;
        clear: both;
        margin-top: 10px;
    }
    
    .mt-3 {
        margin-top: 6px;
    }
    
    .rating-container {
        color: orange;
    }
    
    .address-container {
        font-weight: bold;
    }
    
    .place-types-container {
        color: green;
    }
</style>
<div ng-if="infoVdo.placeList && infoVdo.placeList.length">
    <h4>
        Result count: <strong> {{infoVdo.placeList.length}}</strong>
    </h4>
    <div class="list-container" data-ng-repeat="place in infoVdo.placeList">
        <div class="row list-item">
            <div class="icon-container col-xs-3 col-md-2">
                <img id="rlimg0" ng-src="{{place.icon}}">
            </div>
            <div class="col-xs-12 col-md-3">
                <span class="place-name" role="heading">{{place.name}}</span>
                <p class="clear-both rating-container">{{place.rating}}<span uib-rating ng-model="place.rating" max="5" read-only="true" aria-labelledby="default-rating"></span></p>

                <p class="text-muted" data-ng-if="place.opening_hours.open_now">Open now</p>
            </div>

            <div class="col-xs-12 col-md-3 address-container">{{place.formatted_address}}</div>
            <div class="col-xs-12 col-md-2">{{place.vicinity}}</div>
            <div class="col-xs-12 col-md-2 place-types-container">{{place.types.join(', ').split('_').join(' ')}}</div>

        </div>
    </div>
    <div class="btn btn-info col-xs-12 col-md-2 mt-3" ng-click="events.onLoadMoreClicked()" ng-if="infoVdo.hasNextPage">
        Load more
    </div>
</div>